.DS_Store
.env
.env.local
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
venv/
__pycache__/
*.pyc
bcl-frontend/public/gallery/
bcl_blogs_backup.json
bcl_events_backup.json
bcl_members_backup.json

