aiofiles
annotated-types
anyio
bcrypt
beautifulsoup4
certifi
cffi
charset-normalizer
click
cryptography
deprecation
dnspython
ecdsa
email-validator
fastapi
gotrue
greenlet
h11
h2
hpack
httpcore
httpx
hyperframe
idna
packaging
passlib
postgrest
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
python-jose
python-multipart
realtime
requests
rsa
six
sniffio
soupsieve
SQLAlchemy
starlette
storage3
StrEnum
supabase
supafunc
typing-inspection
typing_extensions
urllib3
uvicorn
websockets
openpyxl